
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Bakalavr</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <div class="blog_text">
                                <p>Biz "Marmara Academy" Xaricdə Təhsil şirkəti olaraq sizlərə Türkiyədə Təhsil almaq fürsətini yaradırıq.</p>

                                <p>Türkiyədə Bakalavr üzrə qəbul prosesi 3 cür həyata keçirilir.</p>

                                <ol style="padding: 0 0 15px 15px;">
                                    <li>İmtahansız yalnız ATTESTAT nəticəsi ilə qəbul olmaq imkanı</li>
                                    <li>SAT nəticəsi ilə qəbul olmaq imkanı</li>
                                    <li>YÖS nəticəsi ilə qəbul olmaq imkanı</li>
                                </ol>

                                <p>İMTAHANSIZ yalnız ATTESTATLA siz bir çox dövlət və özəl universitetlərində bakalavr təhsili ala bilərsiniz. Əsasən də mərkəzi şəhərlərə yaxın şəhərlərdə təhsil ala bilərsiniz. &nbsp;Bunlara misal olaraq son illərdə Azərbaycanlı tələbələrin çox olduğu şəhərlər: Aksaray, Nevşehir, Karabük, Kastamonu, Eskişəhir, Çanakkale, Zonguldak, Sinop, Tokat və s.</p>

                                <p>Attestatla təhsil ala biləyəcəyiniz bəzi fakultələr:</p>

                                <p><em>İKTİSADİ VE İDARİ BİLİMLER FAKÜLTESİ</em></p>

                                <p><em>İLETİŞİM FAKÜLTESİ</em></p>

                                <p><em>MÜHENDİSLİK FAKÜLTESİ</em></p>

                                <p><em>TURİZM FAKÜLTESİ </em></p>

                                <p>Qeyd: Tibb, Diş Həkimliyi və Huquq Fakültəsinə qəbul imtahan nəticəsi ilə aparılır. ( Attestatla qəbul aparılmır )</p>

                                <p>SAT (Scholastic Aptitude Test) Amerikadakı Universitet və Kolleclərə qəbul olmaq üçün həm amerika vətəndaşları, həm də xarici tələbələr tərəfindən verilən, eyni zamanda Türkiyədəki xarici tələbələrin Türk universitetlərinə qəbulu zamanı bir çox universitetlər tərəfindən qəbul edilən bir imtahandır.</p>

                                <p>SAT imtahanı SAT I (Reasoning Test) və SAT II (Subject Test) olmaqla iki ayrı imtahandan ibarətdir.</p>

                                <p>SAT I “Reasoning Test” imtahanı 3 saat 45 dəqiqə davam edir və test şəklindədir. Şagirdlərin riyazi və sözlü bacarıqlarını ölçür. SAT I “Mathematics” (Riyaziyyat – Həndəsə), “Critical Reading” (İngiliscə analitik/tənqidi oxu), “Writing” (İnşa) olmaqla 3 bölümdən ibarətdir. Hər testin balı 200 ilə 800 arasında dəyişir. Türkiyədəki Universitetlərə müraciəti zamanı sadəcə “Mathematics” və “Critical Reading” testlərinin nəticələri nəzərə alınır, “Writing” bölümünün nəticəsi əhəmiyyət daşımır.</p>

                                <p>SAT ilə qəbul ola biləyəcəyiniz bir neçə universitetlər: Yıldız Teknik, Boğaz içi, Sabancı, Marmara, İstanbul Teknik, ODTÜ, Hacettepe, Ankara, Gazi və s.</p>

                                <p>SAT nəticəsi ilə qəbul ola biləyəcəyiniz bəzi fakultələr:</p>

                                <p>Tibb, Diş Həkimliyi, Huquq, Mühəndislik və s.</p>

                                <p>YÖS: Ümumiləşdirilmiş YÖS (Yabancı Uyruklu Öğrenci Sınavı) imtahanı 2011-ci ildən etibarən ləğv olunduqdan sonra bəzi universitetlər özləri imtahanlar təşkil etməyə başladı. Bu universitetlərdən İstanbul, Yıldız Texniki və Marmara kimi universitetləri misal göstərmək olar. İmtahanlar əsasən Türkiyədə keçirilməsinə baxmayaraq, bir çox Türk universitetləri Bakıda da imtahan təşkil edirlər. İmtahanlara müraciətlər əsasən mart ayının əvvəllərindən başlayır. İmtahan sulları əsasən 35 riyaziyyatdan və 45 məntiqdən ibarət olur.</p>

                                <p>YÖS ilə qəbul ola biləyəcəyiniz bir neçə universitetlər: Giresun (Giresun şəhəri) Necmettin Erbakan (Konya şəhəri) Samsun 19 Mayıs (Samsun şəhəri) Recep Tayyib Erdoğan (Rize şəhəri) Süleyman Demirel (Isparta şəhəri) Uludağ (Bursa şəhəri) Fırat (Elazığ şəhəri) Ordu (Ordu şəhəri) Adnan Menderes (Aydın şəhəri)</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
