
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Türkiyədə Təhsil və Yaşam Xərclər</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <p><strong>Türkiyədə təhsil alacağınız müddətdə təhsil və yaşam xərcləriniz aşağıda detallı şəkildə qeyd olunub. Xahiş olunur diqqətlə oxuyun.</strong></p>

                        <p><em><strong>Türkiyədə illik təhsil haqqı nə qədərdir?</strong></em></p>

                        <p>Türkiyə dövlət universitetlərində illik təhsil haqqı 750 – 2500 TL (yəni təqribən 200 – 1250 AZN) arasında olur. Əslində Türkiyənin dövlət universitetləri illik ödəniş baxımından digər ölkələrlə müqayisədə dəfələrlə ucuz və sərfəlidir. Bir məsləhətçi kimi onu da qeyd edək ki Türkiyədə illik təhsil haqqı uyğun olsa da təhsil keyfiyyəti digər ölkələrdən çox yüksəkdir. Hətta illik təhsil haqqını iki hissədə 6 aydan bir ödəyəcəksiniz.</p>

                        <p><em><strong>Türkiyədə yataqxana qiymətləri?</strong></em></p>

                        <p>Türkiyədə yataqxanalar dövlət və özəlyataqxanalar olmaqla iki hissəyə ayrılır.Dövlət Yataqxanaları bunlara KYK Yurtları da deyilir və <a href="http://yurtkur.gsb.gov.tr/">http://yurtkur.gsb.gov.tr/</a> adresindən online müraciət ilə qeydiyyat aparılır,bu yataqxanalarda gündə 3 dəfə yemək,yaşam və digər xidmətlər də daxil olmaqla aylıq ödənişləri 200 TI-dən başlayır.Çox təəsüflər olsunki dövlət yurtlarında xarici vətəndaşlar üçün boş yerlər əksər hallarda olmur və ya 2-3 ay sonrası üçün növbədə gözləməli olursuz.Buna görədə şirkətimiz gedən tələbələrə evlər və ya özəl yataqxanalar təklif edir.Yataqxanaların və evlərin qiyməti orta hesabla aylıq 150 dollardan başlayır, bu qiymət sizin seçəcəyiniz evin şəraitindən, universitetlə arasındakı məsafədən və seçdiyiniz şəhərdən asılı olaraq dəyişir. 4 nəfər tələbə üçün 2 otaq 1 salon evi 800 TL dəyərində kirayələmək mümkündür.</p>

                        <p><em><strong>Türkiyəyə getmək üçün yol xərcləri nə qədərdir?</strong></em></p>

                        <p>Türkiyə dövlət universitetlərinə qəbul olduqdan sonra qəbul olduğunuz universitetin yerləşdiyi şəhərə getmək üçün iki yolunuz var: Avtobusla təxminən 40 saat və 60-70 dollar,Samalyot ilə ortalama 6-8 saat və 150-200 dollar.Əksər hallarda biz <a href="http://marmara.edu.az/"> Turkiyede Tehsil</a>olaraq tələbələrimizlə eyni vaxtda birlikdə öz nəzarətimiz altında avtobus ilə gedirik.</p>

                        <p><em><strong>Qəbul prosesinin aparılması üçün xidmət haqqı nə qədərdir və nələr daxildir?</strong></em></p>

                        <p><a href="http://marmara.edu.az/"> Turkiyede Tehsil</a>olaraq artıq 5-ci ildir fəaliyyətdəyik , bu müddət ərzində daima xidmət və keyfiyyəti əsas götürmüşük.Xidmətlərimizə Qəbul Prosesinin aparılması,Türkiyədə Qeydiyyat və Yerləşdirmə, Oturma İzni üçün sənədləşdirmə və müraciət(Miqrasiyada qeydiyyat),Sağlıq Sigortası etdirilməsi və daimi nəzarət daxildir. Xidmət haqqı isə seçəcəyiniz xidmətdən asılı olaraq dəyişir,razılıq olduğu halda Azərbaycan Respublikasının qanunlarını əsas götürərək iki tərəfli müqavilə bağlanır.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
