
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Magistraturada oxuya biləyəcəyiniz bəzi universitetlər </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <div class="blog_text">
                            <p><strong>Magistraturada oxuya biləyəcəyiniz bəzi universitetlər</strong></p>

                            <p>1.Hacettepe Universiteti</p>

                            <p>2.İstanbul Universiteti</p>

                            <p>3.İstanbul Cerrahpaşa Universiteti</p>

                            <p>4.Marmara Universiteti</p>

                            <p>5.Yıldız Teknik Universiteti</p>

                            <p>6.İstanbul Medipol Universiteti</p>

                            <p>7.BAU Universiteti</p>

                            <p>8.Nişantaşı Universiteti</p>

                            <p>9.Kadir Has Universiteti</p>

                            <p>10.Arel Universiteti</p>

                            <p>11.Gelişim Universiteti</p>

                            <p>12.Koç Universiteti</p>

                            <p>13.Sabancı Universiteti</p>

                            <p>14.Kocaeli Universiteti</p>

                            <p>15.Anadolu Universiteti</p>

                            <p>16.Osman gazi Universiteti</p>

                            <p>17.Samsun 19 Mayıs Universiteti</p>

                            <p>18.Muğla Sıtkı Koçman Universiteti</p>

                            <p>19.Konya Selcuk Universiteti</p>

                            <p>20.Çanakkale 18 Mart Universiteti</p>

                            <p>21.Sakarya Universiteti</p>

                            <p>22.İzmir Katip Çelebi</p>

                            <p>23.Ege Universiteti</p>

                            <p>24.Dokuz Eylül Universiteti</p>

                            <p>25.Aksaray Universiteti</p>

                            <p>26.Kastamonu Universiteti</p>

                            <p>27.Karabürk Universiteti</p>

                            <p>28.Namik Kemal Universiteti</p>

                            <p>29.Uludağ Universiteti</p>

                            <p>30.Adnan Menderes</p>

                            <p>31.Akdeniz Universiteti</p>

                            <p>32.Mersin Universiteti</p>

                            <p>33.Antalya Bilim Universiteti</p>

                            <p>34.Fenerbahçe Universiteti</p>

                            <p>35.Beykent Universiteti</p>

                            <p>36.Altınbaş Universiteti</p>

                            <p>37.Biruni Universiteti</p>

                            <p>38.İşik Universiteti</p>

                            <p>39.Esenyurt Universiteti</p>

                            <p>40.Okan Universiteti</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
