
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Magistratura</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <p>Biz TÜRKİYƏDƏ TƏHSİL şirkəti olaraq sizlərə Türkiyədə Təhsil almaq fürsətini yaradırıq.</p>

                        <p>Türkiyədə Magistr qəbul prosesi 2 cür həyata keçirilir.</p>

                        <ol style="padding: 0 0 15px 15px;">
                            <li>İmtahansız yalnız Diplom Ortalaması ilə Qəbul</li>
                            <li>İmtahanla (ALES, TYS və YDS) imtahan nəticəsi ilə</li>
                        </ol>

                        <p>İmtahansız: Əksər Dövlət və Özəl universitetlərdə xarici vətandaşlar üçün qəbul, “DİPLOM ORTALAMASI” və ya “MULAKAT” (Müsahibə) ilə aparılır.</p>

                        <p>İmtahanla: Digərlərindən isə ixtisasdan və universitetdən aslı olaraq ALES və YDS imtahanı nəticələri ilə aparılır.</p>

                        <p>Sənəd Qəbulu ildə 2 dəfə olur: Dekabr-Yanvar və İyun-İyul aylarında</p>

                        <p>Türkiyədə magistratura təhsili 2 hissəyə ayrılır “TEZLİ” və “TEZSİZ”</p>

                        <p>TEZLİ YÜKSEK LİSANZ: Bu təhsil pilləsi 2 il yəni 4 semestr olur və sonda “Diplom İşi” yazılaraq təhsil pilləsi tamamlanır.</p>

                        <p>TEZSİZ YÜKSEK LİSANS: Bu təhsil pilləsi 1 il yarım yəni 3 semestr olur və sonda “Diplom İşi” yazılmır. Tezli yüksek lisansdan fərqi odurki, bitirəndən sonra Doktorantura pilləsinə davam etmək olmur.</p>

                        <p>İXTİSAS SEÇİMİ: Əgər siz tezsiz yüksək lisans təhsili almaq istəyirsinizsə Bakalavrda bitirdiyiniz ixtisasdan aslı olmayaraq əsasən sosial bilimler instutunda iqtisadiyyat və turizm yönümlü hər hansısa bir ixtisasda təhsil ala bilərsiniz</p>

                        <p>
                            ALES: ( Akademik Personel ve Lisansüstü Eğitimi Giriş Sınavı ) qısaca, ali təhsil ocaqlarında magistraturaya qəbul olmaq üçün lazım olan imtahandır.<br>
                            Ales İmtahanında bakalavr proqramından məzun olacaq şəxslər və bakalavr proqramını qurtaranlar iştirak edə bilər.<br>
                            İmtahanın nəticəsi keçirildiyi tarixdən etibarən 3 il keçərliliyi var.<br>
                            Ales imtahanında bir neçə dəfə iştirak etmisinizsə keçərlilik müddətində ən yüksək ALES balınızı istifadə edə bilərsiniz.<br>
                            Ales imtahanı Türk dili və Riyaziyyat fənlərindən birlikdə 160 sual soruşulur. Sözel 1, Sözel 2, Sayısal 1, Sayısal 2 olmaqla 4 bölmədən ibarət olan<br>
                            ALES imtahanInda hər bölmədən 40 sual olur. Tələbələr ixtisaslarına uyğun olan 120 sualı cavablandırmalıdırlar.<br>
                            İmtahahan müddeti 150 dəqiqədir.<br>
                            ALES, biri Yaz vaxtı (adətən May ayında) digəri Payız vaxtı (adətən Dekabr ayında) olmaqla ildə 2 dəfə keçirilir.<br>
                            İmtahan qeydiyyatları təqribən imtahandan 2 ay əvvəl edilir. İmtahana qeydiyyatlarınızda əvvəlcə ÖSYM – ə zəng etməli və Yabancı uyruklu Öğrenci Numarası (YU) almalısınız. Daha sonra lazımı sənədlərlə birlikdə Ankara ÖSYM mərkəzinə gedib sənədləri təhvil vərməyiniz lazımdır.<br>
                            Ales imtahanı tələbə seçmə və yerləşdirmə mərkəzi (ÖSYM) tərəfindən təşkil edilir.<br>
                            Azərbaycanda ÖSYM təmsilçisi yoxdur. İmtahanda iştirak yalnız Ankarada mümkündür.<br>
                            İmtahan nəticəsi en geci 1 ay müddətində açıqlanır.<br>
                            ALES imtahanında ən az 55 bal toplamalınız lazımdır.
                        </p>

                        <p>
                            TYS: (Türkce Yeterlilik Sınavı) Türkiyədə təhsil almağı düşünən tələbələrin verməsi lazım olan əsas imtahanlardan biridir.TYS imtahanı qəbul olduğunuz hər bir universitet və ya Yunus Emre Enstitüsü tərəfindən keçirilir. İmtahanı həm Türkiyədə həm də Bakıda vermək mümkündür.<br>
                            İmtahana qeydiyyat Azerbaycanda Yunus Emre qurumu tərəfindən həyata keçirilir və imtahan 180 dəqiqə olmaqla 80 sual ve 4 mərhələdən ibarətdir.<br>
                            1.Dinləmə.<br>
                            2 Yazma (Qrammatika)<br>
                            3. İnşa<br>
                            4. Danışma.( Sərbəst ve Qarşılıqlı söhbət)<br>
                            İmtahana giriş qiyməti 80 dollardır və ildə 3 dəfə keçirilir. ( Sentyabr, Yanvar, May)
                        </p>

                        <p>TYS imtahanından keçmək üçün tələbələrin ən az 70 bal yığması vacibdir və bunu da qeyd etmək lazimdır ki, TYS bütün Türkiyə Universitetleri tərəfindən tanınan yeganə Türk Dili Sertfikatıdır.</p>

                        <p>
                            YDS: (Yabancı Dil Sınavı) Türkiyədə ildə 2 dəfə mart və sentyabr aylarında keçirilməkdə olan və Türkiyədə magistr və tibbdə ixtisas üçün lazım olan xarici dil imtahanıdır.<br>
                            İmtahan ÖSYM ( Öğrenci Seçme ve Yerleşdirmə Mərkəzi ) tərəfindən keçirilir.<br>
                            YDS imtahanında Tibb universitetində oxuyub uzmanlık (ixtisas) təhsilini davam etmək istəyənlər və magistr oxumaq istəyənlər iştirak edə bilərlər.<br>
                            YDS imtahanında bir neçe defe iştirak etmisinizse en yüksək topladığınız imtahan nəticəsi nəzərə alınacaqdır.
                        </p>

                        <p>
                            YDS İmtahanda sual bölgüsü : ilk 18 sual söz və dil məlumatı, cümlə tamamlamaqdan 10 sual, tərcümədən 6 sual, mətn tamamlamaqdan 4 sual, məna təyin etməkdən 5 sual, dialoqdan 4 sual, mətnlərdən 20 sual, eyni mənadan 4 sual, cəmi 80 sual şəklində olur.İmtahan müddəti 150 dəqiqədir. İmtahana qeydiyyat online olaraq aparılır və bundan əlavə imtahan tarixindən 3 gün əvvəl Türkiyədə imtahan mərkəzlərində təsdiq edilməlidir.YDS imtahanı 5 il etibarlıdır.<br>
                            Son olaraq qeyd edək ki, İmtahan yalnız Türkiyədə keçirilir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
