
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Attestatla qəbul ala biləcəyiniz universitetlər</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single_post">
                    <div class="single_post_content">

                        <table>
                            <thead>
                                <tr class="border-bottom pb-1">
                                    <td width="65%">
                                        <p><strong>Türkiye dövlət universitetlərinin siyahıları</strong></p>
                                    </td>
                                    <td width="15%">
                                        <p><b>Şəhərlər</b></p>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="65%"><strong>1. Adıyaman Üniversitesi </strong></td>
                                    <td width="15%"><strong>Adıyaman</strong></td>
                                </tr>
                                <tr>
                                    <td width="65%"><strong>2. Ağrı İbrahim Çeçen University</strong></td>
                                    <td width="15%"><strong>Ağrı</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>3. Aksaray University</strong></td>
                                    <td width="15%"><strong>Aksaray</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>4. Amasya University</strong></td>
                                    <td width="15%"><strong>Amasya</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>5. Balıkesir University </strong></td>
                                    <td width="15%"><strong>Balıkesir</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>6. Bartın University</strong></td>
                                    <td width="15%"><strong>Bartın</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>7. Batman University</strong></td>
                                    <td width="15%"><strong>Batman</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>8.</strong> <strong>Bayburt University</strong></td>
                                    <td width="15%"><strong>Bayburt</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>9.</strong> <strong>Bilecik University </strong></td>
                                    <td width="15%"><strong>Bilecik</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>10.</strong> <strong>Bingöl University</strong></td>
                                    <td width="15%"><strong>Bingöl</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>11.</strong> <strong>Bitlis Eren University</strong></td>
                                    <td width="15%"><strong>Bitlis</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>12.</strong> <strong>Abant Izzet Baysal University</strong></td>
                                    <td width="15%"><strong>Bolu</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>13.</strong> <strong>Mehmet Akif Ersoy University</strong></td>
                                    <td width="15%"><strong>Burdur</strong></td>
                                </tr>
                                <tr>
                                    <td width="65%"><strong>14.</strong> <strong>Hitit University</strong></td>
                                    <td width="15%"><strong>Çorum</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>15. Çankırı Karatekin University</strong></td>
                                    <td width="15%"><strong>Çankırı</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>16.</strong> <strong>Dicle University</strong></td>
                                    <td width="15%"><strong>Diyarbakır</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>17. Düzce University</strong></td>
                                    <td width="15%"><strong>Düzce</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>18. </strong><strong>Trakya University</strong></td>
                                    <td width="15%"><strong>Edirne</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>19. Fırat University</strong></td>
                                    <td width="15%"><strong>Elazığ</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>20.</strong> <strong>Erzincan University</strong></td>
                                    <td width="15%"><strong>Erzincan</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>21.</strong> <strong>Giresun University </strong></td>
                                    <td width="15%"><strong>Giresun</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>22.</strong> <strong>Gümüşhane University</strong></td>
                                    <td width="15%"><strong>Gümüşhane</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>23. Hakkari University </strong></td>
                                    <td width="15%"><strong>Hakkari</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>24.</strong> <strong>Mustafa Kemal University</strong></td>
                                    <td width="15%"><strong>Hatay</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>25. Iğdır University</strong></td>
                                    <td width="15%"><strong>Iğdır</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>26.</strong> <strong>Süleyman Demirel University </strong></td>
                                    <td width="15%"><strong>Isparta</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>27. Kahramanmaraş Sütçü İmam University</strong></td>
                                    <td width="15%"><strong>Kahramanmaraş</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>28.</strong> <strong>Karabük University</strong></td>
                                    <td width="15%"><strong>Karabük</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>29.</strong> <strong>Karamanoğlu Mehmetbey University</strong></td>
                                    <td width="15%"><strong>Karaman</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>30.</strong><strong> Kafkas University </strong></td>
                                    <td width="15%"><strong>Kars</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>30.</strong> <strong>Kastamonu University</strong></td>
                                    <td width="15%"><strong>Kastamonu</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>31.</strong> <strong>Ahi Evran University</strong></td>
                                    <td width="15%"><strong>Kırşehir</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>32.</strong> <strong>Kilis 7 Aralık University</strong></td>
                                    <td width="15%"><strong>Kilis</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>33.</strong> <strong>Dumlupınar University</strong></td>
                                    <td width="15%"><strong>Kütahya</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>34.</strong> <strong>İnönü University</strong></td>
                                    <td width="15%"><strong>Malatya</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>35.</strong> <strong>Celal Bayar University</strong></td>
                                    <td width="15%"><strong>Manisa</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>36.</strong> <strong>Mardin Artuklu University</strong></td>
                                    <td width="15%"><strong>Mardin</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>37.</strong> <strong>Muş Alparslan University</strong></td>
                                    <td width="15%"><strong>Muş</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>38.</strong> <strong>Nevşehir University</strong></td>
                                    <td width="15%"><strong>Nevşehir/ Cappadocia</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>39. Niğde University</strong></td>
                                    <td width="15%"><strong>Niğde</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>40.</strong> <strong>Rize University</strong></td>
                                    <td width="15%"><strong>Rize</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>41.</strong> <strong>Ordu University</strong></td>
                                    <td width="15%"><strong>Ordu</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>42.</strong> <strong>Osmaniye Korkut Ata University</strong></td>
                                    <td width="15%"><strong>Osmaniye</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>43.</strong> <strong>Harran University</strong></td>
                                    <td width="15%"><strong>Şanlıurfa</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>44.</strong> <strong>Siirt University</strong></td>
                                    <td width="15%"><strong>Siirt</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>45. Sinop University</strong></td>
                                    <td width="15%"><strong>Sinop</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>46.</strong> <strong>Şırnak University</strong></td>
                                    <td width="15%"><strong>Şırnak</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>47.Gaziosmanpaşa University</strong></td>
                                    <td width="15%"><strong>Tokat</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>48.Tunceli University </strong></td>
                                    <td width="15%"><strong>Tunceli</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>49.Uşak University </strong></td>
                                    <td width="15%"><strong>Uşak</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>50.Yüzüncü Yıl University</strong></td>
                                    <td width="15%"><strong>Van</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>51.Yalova University</strong></td>
                                    <td width="15%"><strong>Yalova</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>52.Bozok University</strong></td>
                                    <td width="15%"><strong>Yozgat</strong></td>
                                    
                                </tr>
                                <tr>
                                    <td width="65%"><strong>53.Bülent Ecevit University</strong></td>
                                    <td width="15%"><strong>Zonguldak</strong></td>
                                    
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
