
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/site/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>SAT 1 / SAT 2</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <div class="blog_text">

                            <p>
                                <strong>SAT 1 - </strong>
                                “Reasoning Test” bu imtahan 3 saat 45 dəqiqə sürən test imtahanıdır. Tələbənin riyaziyyat və məntiqinin yoxlamasından ibarətdir. SAT 1, “Riyaziyyat” (Riyaziyyat və Həndəsə), “Critical Reading” (İngiliscə  oxuma), “Writing” (Yazı qabiliyyəti) olmaqla 3 hissədən ibarətdir. Hər bir hissə isə 200-800 arası balla qiymətləndirilir. Amerika universitetlərinə qəbul olmaq üçün bu 3 bölmənin hər birindən imtahan verməlisiniz, lakin Türkiyə universitetləri üçün “Riyaziyyat” və “Critical Reading” bölmələrindən imtahan vermək kifayət edir “Writing” bölməsinə gərək yoxdur. Türkiyədə orta səviyyəli bir universitetə qəbul olmaq üçün hər iki bölmədən bir yerdə 1200 baldan yüksək yığmalısınız məsələn İstanbul universiteti 1250 bal tələb edir.
                            </p>
                            <p>
                                <strong>SAT 2 - </strong>
                                “Subject Test” isə 1 saatlıq bir test imtahanıdır. Bu bölmədə isə suallar daha çox seçmə fənnlərdən ibarətdir. İmtahanın əsas məqsədi tələbənin hər hansı bir mövzuda akademik biliyinin yoxlanması məqsədini daşıyır. Yenə SAT 1 – də olduğu kimi SAT 2 imtahanındada həmçinin suallar 200-800 bal arası dəyişir. SAT 2 – də fənnlər İngiliscə, Tarix, Biologiya, Kimya, Fizika, Fransız, Alman, İspan, İtalyan, Latın, Yapon, Çİn dillərindən ibarət sizə uyğun birini seçə bilərsiniz, təbiiki SAT 2 fənn seçməzdən əvvəl sənəd verəcəyiniz universitetin tələblərini nəzərə almalısınız. Və yadda saxlayın Amerikanın bir çox universitetlərinə sadəcə SAT 1 imtahanı verməklər qəbul ola bilərsiniz, lakin daha prestijli universitetlərə qəbul üçün SAT 2 verməniz vacibdir. Türkiyə universitetlərinə qəbul üçün isə SAT 2 imtahanına gərək yoxdur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
