
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/site/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>IELTS</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <div class="blog_text">

                               
                            <p>Siz TOEFL-ın nə olduğu haqda maraqlanırsınızmı? TOEFL-ın hansı İngilis dili bacarıqlarını test etdiyini bilirsiniz mi? O zaman bu posta xoş gəlmişsiniz!</p>
                            <p>TOEFL oxumaq və hazırlaşmaq üçün bir neçə ay tələb edən uzun testdir. Məsələn, əgər siz xaricdə təhsil alacaqsınızsa və ya beynəlxalq şirkətdə çalışacaqsınızsa, o zaman düzgün adresdəsiniz.</p>
                            <p>Hər bir TOEFL imtahanında dörd hissədən ibarət olan spesifik suallar və tapşırıqlar olur. Siz qarşınıza heçzaman çıxmayan sualları görə bilərsiniz. Ona görə də çoxlu məşq etməlisiniz. Verilən suallar dəyişilə bilər, lakin format heçbir zaman dəyişmir. Buna görə də aşağıda verilən məlumatlar vacibdir.</p>
                            <p>TOEFL-ın dörd əsas hissəsi:</p>
                            <ul><li>READING ( Oxuma) – 60-100 dəqiqə davam edir. Elmi və akademik müzakirələrdə yazılan mətnlərdə anlama və analiz etmə qabiliyyətinizi ölçür.</li><li>LISTENING (Dinləmə) – 60-90 dəqiqə davam edir. Bu bölmədə dörddən altıya qədər mətnlər olur hansı ki sizin anlama qabiliyyətinizi ölçür.</li><li>SPEAKING (Danışıq) – 20 dəqiqə davam edir. Bu bölmə altı tapşırıqdan ibarətdir və bu tapşırıqlar mikrofona danışılır. İngilis dilində fikirlərinizi ifadə etmə dərəcənizi ölçür.</li><li>WRITING(Yazı) – 50 dəqiqə davam edir. Bu bömə isə ancaq sizin yazıda ingilis dilinizi necə nümayiş elətdirməyinizi göstərir. Burada siz öz qramatika və söz biliklərinizi səlis cümlələr quraraq tətbiq edirsiniz.</li></ul>
                            <p>Hər bölmənin maksimum 30 balı var. Maksimum ümumi TOEFL balı isə 120-dir.</p>
                            <p>TOEFL imtahanın bütün bölmələri bir gün ərzində götürülür və 4 saat yarım davam edir. Dinləmə və danışıq arasında qısa fasilə verilir.</p>
                            <p>Aşağıda qeyd olunmuş bəzi detallarla tanış olaq:</p>
                            <ul><li>Sizə qeyd götürməyə icazə verilir. Hər dörd bölmədə sizə kağız və qələm verilir. İmtahanın sonunda isə bütün işlətdiyiniz kağızları və qeydlərinizi imtahan nəzarətçisinə otağı tərk etməmiş geri verməlisiniz.</li><li>Siz on dəqiqəlik fasilə üçün özünüzlə atışdırmalıq və su gətirə bilərsiniz.</li><li>Əgər siz ayaq yoluna ehtiyac duysanız, buna icazə verilir. Lakin imtahan saatı dayandırılmır.</li><li>Əlbəttə ki, sizə telefon, kompyuter, planşet və s. texnologiyaya icazə verilməyəcək. Hətta 10 dəqiqəlik fasilədə belə.</li></ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
