
@{
    ViewBag.Title = "Index";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/site/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Türkçe Yeterlilik Sınavı (TYS)</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION CONTENT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_post">
                    <div class="single_post_content">
                        <div class="blog_text">

                            <p><strong>TYS (TÜRKÇE YETERLİLİK SINAVI) NƏDİR?</strong></p>
                            <p>Yunus Emre Enstitüsü, türkcəni xarici dil olaraq öyrənənlərin dil biliklərinin kafi olub-olmadığını ölçmək üçün TYS adlı bir imtahan təşkil edir. TYS imtahanı tələbələrin türk dilində oxuma, dinləmə, yazma və danışma bacarıqlarını ölçülmək məqsədilə həyata keçirilir. Bu imtahanı müvəffəqiyyətlə verən tələbələrə “Türkce Yeterlilik Belgesi” verilir.</p>
                            <p><strong>TYS İMTAHANINA KİMLƏR GİRƏ BİLƏR?</strong></p>
                            <p>1) Xarici dil olaraq Türkcə öyrənənlər</p>
                            <p>2) Türkiyədəki universitetlərə müraciət edənlər (Bakalavr, magistr, doktorantura) </p>
                            <p><strong>İMHATANIN FORMASI</strong></p>
                            <p>İmtahan 2 sessiya şəklində həyata keçirilir:  1ci sessiyada oxuma, yazma və dinləmə bölmələri , 2ci sessiyada isə müstəqil və qarşılıqlı danışıq bölməsi həyata keçirilir. Sessiya 1; oxuma bölməsi 60, dinləmə bölməsi 45 və yazı hissəsi 60, cəmi 165 dəqiqə. İkinci iclasda 10 söhbət və 5 söhbət ilə cəmi 15 dəqiqə var. Bütün imtahan 180 dəqiqədir.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CONTENT -->
