
@{
    ViewBag.Title = "Error";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/site/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Canlı Dərs</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION 404 -->
<section class="background_bg overlay_bg2 full_screen">
    <div class="container h-100">
        <div class="row justify-content-center align-content-center h-100">
            <div class="col-md-6 col-sm-8">
                <div class="text-center">
                    <h4 class="text_danger">oops! Dərs hələ başlamayıb!</h4>
                    <h6>Xahiş olunur daha sonra yenidən daxil olasınız</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION 404 -->