@{
    ViewBag.Title = "Index";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item active"><a href="#">Ana Sayfa</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="justify-content-center" style="text-align:center;margin-top:100px">Panele Hoşgeldiniz</h1>
    </div>
</div>

